<nav class="nav">
    <ul class="nav-list">
        <li class="nav-list-item">
            <a class="nav-list-link" href="{{ path('send_email') }}">Send Email</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-list-link" href="{{ path('admin_panel') }}">Logs</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-list-link" href="{{ path('body_template_overview') }}">Body Templates</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-list-link" href="{{ path('email_template_overview') }}">Email Templates</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-list-link" href="{{ path('groups') }}">Groups</a>
        </li>
    </ul>
</nav>
